<!DOCTYPE HTML>
<html>
	<head>

		<!-- ### Define Charset ### -->
		<meta charset="utf-8">

		<!-- ### Responsive MetaTag ### -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- ### Page Title ### -->
		<title> Jobbop | Disrupting recruitment  </title>

		<!-- ### Description and Keyword ### -->
		<meta name="keywords" content=""/>
		<meta name="description" content=""/>

		<!-- ### Stylesheet and Bootstrap ### -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="css/styles.css" />

		<link rel="stylesheet" href="css/lightbox.css" />

		<!-- ### Favicon ### -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

		<!-- ### Google Fonts ### -->
		<link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,200" rel="stylesheet" type="text/css"/>

		<!-- ### Javascript Files ### -->

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script> 
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/lightbox.js"></script>
		<script type="text/javascript" src="js/slides.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
		<script type="text/javascript" src="js/custom2.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>

		<!-- Combine JS folders later 
		<script type="text/javascript" src="javascripts/global.js"></script> -->

		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!--[if IE 8]><link rel="stylesheet" href="css/ie8.css"/> <![endif]-->

	</head>
	<body>
		<div class="wrap-switcher">
			<!-- ### START - Header Section ### -->
			<header>
				<div class="wrapper">
					<div class="logo"> <!--  To edit Logo go to css/styles.css  -->  </div>
					<div class="navi">
						<ul> 
							<li class="active"><a href="landing.html">Home</a></li> 
							<li><a href="about.html">About</a></li> 
							<li><a href="contact.html">Contact</a></li> 
							</ul>
						</div>
					</div>
			</header>
			<!-- ### END - Header Section ### -->
			<div class="clear"></div>

			<!-- ### START - Main Section ### -->
			<div class="main" > 
				<div class="gradient">
					<div class="wrapper"> 
						<div class="slogan">
							<h1>One application, multiple offers</h1>
							<h2>Join 2,000+ candidates and 200+ employers on our beta platform</h2> 
						</div>
						<!-- ### Slider Ipad ### -->
					    <div class="slides">
						    <div class="slides_container">

							    <img    src="img/slider/1.png" alt="sld1"/>

							    <img   src="img/slider/2.png"  alt="sld2" />

							    <img    src="img/slider/3.png"  alt="sld3" />

						    </div>
					    </div><!-- ### END - Slider Ipad ### -->
						<div class="subscriber">
							<div class="subscriber-wrap">
								<h3> Join us in the revolution of recruitment</h3>
								<p>Due to demand we will be in touch within 48 hours</p>
								
								<!-- Newsletter -->

								<form action="/signup" method="post" novalidate ng-app>
									<input value="Full name" name="fullname" class="autoclear name-newsletter" type="text" required ng-model="fullname" placeholder="Full name" autofocus>
									<input value="Email" name="email" class="email-newsletter" type="text" required ng-model="email" placeholder="Email">
									<input value="Contact number" name="phone" class="phone-newsletter" type="text" required ng-model="phone" placeholder="Contact number">
									<input type="submit" class="button-newsletter">
								</form>

								

								<!-- Newsletter -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ### END - Main Section ### -->

			<!-- ### START - Howitwork Section ### -->
			<!-- ##################################################### GET RID OF THIS BEFORE DEPLOYING ################## -->
			<a href="#confirmModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
			 
			<!-- Modal -->
			<div id="confirmModal" class="modal hide fade modalconfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			  </div>
			  <div class="modal-body">
			    <h2>Thanks for signing up. We'll be in touch shortly</h2>
			  </div>
			</div>


			<div class="howitwork" >
				<div class="wrapper"> 
					<div class="title"><h3>How it works</h3></div>
					<div class="row-fluid">

						<!-- ###   Feature 1 ### -->
						<div class="span4 featu">
							<div class="icon"><img src="img/icons/features1.png" class="ft1" alt="" /></div>
							<h6>1. New batch of candidates<br>each fortnight</h6>
							<p>Access the top 5% candidates in IT and Engineering<br><br></p>
							<div class="step"><p>Step 1</p></div>
						</div>

						<!-- ###   Feature 2 ### -->
						<div class="span4 featu">
							<div class="icon"><img src="img/icons/features2.png" class="ft1" alt="" /></div>
							<h6>2. Make conditional offers<br><br></h6>
							<p>Offer interviews to the candidates matched with you<br><br></p>
							<div class="step"><p>Step 2</p></div>
						</div>

						<!-- ###   Feature 2 ### -->
						<div class="span4 featu">
							<div class="icon"><img src="img/icons/features3.png" class="ft1" alt="" /></div>
							<h6> 3. Interview and hire<br><br></h6>
							<p>  Interview candidates and make a formal offer to your future employee</p>
							<div class="step"><p>Step 3</p></div>
						</div>

					</div>
				</div>
			</div>
			<!-- ### END - Howitwork Section ### -->


			<!-- ### START - Features Section ### -->
			<div class="features" > 
				<div class="wrapper">
					<div class="feature1">
						<h3>Bringing colour to recruitment </h3>
						<h6>Jobbop was built with input from 100+ organisations </h6>
						<ul>
							<li> Candidates get to be themselves since they don't see job ads  </li>
							<li> Payment plans that incentivise us to deliver the best candidates</li>
							<li> No more filtering through hundreds of resumes to find the cream of the crop </li>
							<li> Standardised profiles allow you to get down to business </li>
						</ul>
					</div>
					<div class="feature2"> <img src="img/mockup/1.png" alt="" /> </div>
				</div>
			</div>
			<!-- ### END - Features Section ### -->

			<!-- ### START - Screenshots Section ### -->
			<div class="screenshots" >
				<div class="wrapper">
					<div class="title"><h3>Screenshots</h3></div>
					<div id="tabs">
						<ul class="tabs-ul">
						</ul>
						<div class="clear"></div>
						<div id="tabs-1" class="gallery">
							<ul  class="row-fluid">
								<!-- ### First Gallery ### -->
								<li class="span3"> <a href="img/screenshots/1-big.png" class="lightbox-go" title="My Screenshot"><img src="img/screenshots/1.png" class="a" alt=""/> <img src="img/screenshots/hover.png" class="b" alt=""/></a></li>
								<li class="span3"> <a href="img/screenshots/2-big.png" class="lightbox-go" title="My Screenshot"><img src="img/screenshots/2.png" class="a" alt=""/> <img src="img/screenshots/hover.png" class="b" alt=""/></a></li>
								<li class="span3"> <a href="img/screenshots/3-big.png" class="lightbox-go" title="My Screenshot"><img src="img/screenshots/3.png" class="a" alt=""/> <img src="img/screenshots/hover.png" class="b" alt=""/></a></li>
								<li class="span3"> <a href="img/screenshots/4-big.png" class="lightbox-go" title="My Screenshot"><img src="img/screenshots/4.png" class="a" alt=""/> <img src="img/screenshots/hover.png" class="b" alt=""/></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- ### END - Screenshots Section ### -->

			<!-- ### START - Testimonials Section ### -->
			<div class="testimonials" >
				<div class="wrapper">
					<div class="title"><h3>Organisations</h3></div>
					<div class="row-fluid">

						<!-- ### Testimonials 1 ### -->
						<div class="span4 testi">
							<div class="client"><img src="img/testimonials/thoughtworks.png" class="ft1" alt="" /></div>
							<h6>Thoughtworks</h6>
							<div><br><br></div>
							<div class="client"><img src="img/testimonials/ansto.png" class="ft1" alt="" /></div>
							<h6>ANSTO</h6>
						</div>
						<!-- ### Testimonials 2 ### -->

						<div class="span4 testi">
							<div class="client"><img src="img/testimonials/telstra.png" class="ft1" alt="" /></div>
							<h6>Telstra</h6>
							<div><br><br></div>
							<div class="client"><img src="img/testimonials/tfa.png" class="ft1" alt="" /></div>
							<h6>Teach For Australia</h6>
						</div>

						<!-- ### Testimonials 3 ### -->
						<div class="span4 testi">
							<div class="client"><img src="img/testimonials/orica.png" class="ft1" alt="" /></div>
							<h6>Orica</h6>
							<div><br><br></div>
							<div class="client"><img src="img/testimonials/codicote.png" class="ft1" alt="" /></div>
							<h6>Codicote</h6>
						</div>

					</div>
				</div>
			</div>
			<!-- ### END - Testimonials Section ### -->

			<!-- ### START - Testimonials Section ### -->
			<div class="action" >
				<div class="wrapper">
					<h3>Join 200+ organisations on our beta platform</h3>
					<a class="action-button" href="#top">Beta Signup</a>
				</div>
			</div>
			<!-- ### END - Testimonials Section ### -->

			<!-- ### START - FOOTER Section ### -->
			<footer> 
				<div class="wrapper">
					<div class="copy"><p><strong>Jobbop</strong> &#169; Copyright 2014. All rights reserved</p></div>
					<div class="social">
						<ul>
							<!-- ### Social Icons ### -->
							<li class="google"> <a href="https://plus.google.com/105947717352164954312/about"></a></li>
							<li class="facebook"> <a href="https://www.facebook.com/jobboppage"></a></li>
							<li class="twitter"> <a href="https://twitter.com/jobbop"></a></li>
						</ul>
					</div>
				</div>
			</footer>
			<!-- ### END - FOOTER Section ### -->

		</div>
	</body>
</html>